.MenuBar{
    display: flex;
    flex-shrink: 1;
    box-sizing: border-box;
    -webkit-app-region: no-drag;
    overflow: hidden;
    flex-wrap: wrap;
    height: 30px;
}

.MenuBar .MenuButton {
    align-items: center;
    box-sizing: border-box;
    cursor: default;
    -webkit-app-region: no-drag;
    zoom: 1;
    white-space: nowrap;
    outline: 0;
}



.MenuBar .MenuButton:hover {
    background-color: rgba(0, 0, 0, .1)
}

.MenuBar .MenuButton:hover {
    background-color: hsla(0, 0%, 100%, .1)
}
